*{
    margin: 0px;
    padding: 0px;
	font-family: Doppio;

}

@font-face {
    font-family: Doppio;
    src: url(../fonts/DoppioOne.ttf);
}

#Container 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


#logo{
	position:relative;
	bottom:5px;
}


#background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ACB9D0;
    clip-path: polygon(-80% 0, 100% 0, 100% 100%);
}


header
{
    grid-column: 1/4;
    height: 100px;
    background-color: #ECF3FF;
    z-index: 9;
	display:flex;
	justify-content:space-between;
	align-items:center;

}
#acc{
	width:50px;
	height:50px;
	background-color:gray;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-self:center;
	
}
    #logoh {
        color: #3501CA;
        font-size: 30px;
        margin-left: 30px;
        font-family: Doppio;
    }
    #logop
    {
        font-size: 22px;
		margin-left:30px;
		color: #3501CA;
		font-family: Doppio;
    }

#box1{
	z-index:9;
	display:flex;
	grid-column:1/2;
	border-style: solid;
	border-width: 3.5px;
	min-height:400px;
	margin-left:50px;
	margin-top:30px;
	padding-left:20px;
	padding-top:6px;
}
	
#box2{
	z-index:9;
	display:flex;
	grid-column:3/4;
	border-style: solid;
	border-width: 3.5px;
	min-height:400px;
	margin-right:50px;
	margin-top:30px;
	padding-left:20px;
	padding-top:6px;
	
}

#taskbox{
	
	z-index:9;
	grid-column:1/4;
	background-color:#6E94D6;
	border-radius:25px;
	border-radius:25px;
	min-height:400px;
	margin-left:160px;
	margin-right:160px;
	margin-top:100px;
	padding:30px;
	color:white;
	display:flex;
	min-width:1fr;
	
}
#upload{
	display:flex;
	align-self:flex-end;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:30px;
	padding-right:30px;
	background-color:#ECF3FF;
	border-radius:15px;
}


#text{
	display:flex;
	flex-direction:column;
}
#sample{
	padding-bottom:40px;
}

#discription{
	padding-bottom:30px;
	padding-left:12px;
}

#info{
	padding-left:12px;
}


#link{
	text-decoration:none;
	color:#3501CA;
}