@font-face {
    font-family: Doppio;
    src: url(../fonts/DoppioOne.ttf);
}

body {
    margin: 0px;
    overflow: hidden;
    font-family: Doppio;
}

#container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#background {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #ACB9D0;
    clip-path: polygon(-80% 0, 100% 0, 100% 100%);
    z-index: -1;
}

#header {
    display: flex;
    grid-column: 1/7;
    height: 100px;
    background-color: #ECF3FF;
    box-shadow: 0 0 5px 2px grey;
    justify-content: space-between;
    z-index: 1;
}

#logo {
    color: #3501CA;
    margin-left: 30px;
}

#logo h1 {
    font-size: 50px;
    margin: 0px;
}

#logo h3 {
    font-size: 22px;
    margin: 0px;
}

#profile {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 100%;
    align-self: center;
    margin-right: 30px;
}

#content {
    display: flex;
    grid-column: 1/7;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: center;
}

#content h1, h3 {
    margin: 0px;
}

#event {
    margin-top: 30px;
    background-color: white;
    grid-column: 2/6;
    box-shadow: 0 0 5px 2px grey;
    padding: 0px 30px 30px 30px;
}

#event h4 {
    margin: 0px;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

#buttons input {
    padding: 20px 40px 20px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #00b478;
}

#buttons input:hover {
    background-color: #00a065;
}