*{
    margin: 0px;
    padding: 0px;
	font-family: Doppio;

}

@font-face {
    font-family: Doppio;
    src: url(../fonts/DoppioOne.ttf);
}

#Container 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


#logo{
	position:relative;
	bottom:5px;
}


#background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ACB9D0;
    clip-path: polygon(-80% 0, 100% 0, 100% 100%);
}


header {
	display: flex;
	grid-row: 1;
	grid-column: 1/4;
	height: 100px;
	background-color: #ECF3FF;
	z-index: 9;
	box-shadow: 0 0 5px 2px grey;
}

	header > .logo {
		color: #3501CA;
		font-size: 30px;
		margin-left: 30px;
		font-family: Doppio;
	}

		header > .logo > p {
			font-size: 22px;
			position: relative;
			bottom: 5px;
		}

	header > .profile {
		display: flex;
		border-radius: 100%;
		height: 50px;
		width: 50px;
		background-color: lightgrey;
		margin-left: auto;
		margin-right: 40px;
		align-self: center;
		justify-content: center;
	}

	header a {
		display: flex;
		align-items: center;
	}

		header a img {
			border-radius: 100%;
			height: 50px;
			width: 50px;
			border: 3px solid lightgrey;
		}

.Main {
	grid-row: 2;
	grid-column: 1/4;
	position: absolute;
	bottom: 0;
	left: 0;
}

	.Main > img {
		height: 100vh;
		width: 100vw;
	}

#acc{
	width:50px;
	height:50px;
	background-color:gray;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-self:center;
	
}
    #logoh {
        color: #3501CA;
        font-size: 30px;
        margin-left: 30px;
        font-family: Doppio;
    }
    #logop
    {
        font-size: 22px;
		margin-left:30px;
		color: #3501CA;
		font-family: Doppio;
    }

#box1{
	z-index:9;
	display:flex;
	grid-column:1/2;
	border-style: solid;
	border-width: 3.5px;
	min-height:400px;
	margin-left:50px;
	margin-top:30px;
	padding-left:20px;
	padding-top:6px;
}
	
#box2{
	z-index:9;
	display:flex;
	grid-column:3/4;
	border-style: solid;
	border-width: 3.5px;
	min-height:400px;
	margin-right:50px;
	margin-top:30px;
	padding-left:20px;
	padding-top:6px;
	
}

#eventposition{
	grid-column: 2/6;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
}

#eventposition a {
	text-decoration: none;
	color: black;
	text-align: center;
}

#taskbox{
	
	z-index:9;
	grid-column:1/4;
	background-color:#6E94D6;
	border-radius:25px;
	border-radius:25px;
	min-height:400px;
	margin-left:160px;
	margin-right:160px;
	margin-top:100px;
	padding:30px;
	color:white;
	display:flex;
	min-width:1fr;
	
}
#upload{
	display:flex;
	align-self:flex-end;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:30px;
	padding-right:30px;
	background-color:#ECF3FF;
	border-radius:15px;
}


#text{
	display:flex;
	flex-direction:column;
}
#sample{
	padding-bottom:40px;
}

#discription{
	padding-bottom:30px;
	padding-left:12px;
}

#info{
	padding-left:12px;
}


#link{
	text-decoration:none;
	color:#3501CA;
}

.login {
	display: flex;
	grid-row: 2;
	grid-column: 1/4;
	z-index: 10;
	justify-content: center;
}

	.login > div {
		display: flex;
		justify-content: center;
		margin-top: 125px;
		width: 550px;
		height: 550px;
		background-image: url("../img/centerbo.png");
		color: #3501CA;
		font-size: 25px;
		box-shadow: 0 0 10px 2px grey;
	}

		.login > div > div {
			text-align: center;
			position: relative;
			top: 25px;
		}

			.login > div > div > div {
				display: flex;
				justify-content: center;
				position: relative;
				top: 75px;
				color: white;
				font-size: 20px;
				text-align: left;
			}

				.login > div > div > div > form > div {
					display: flex;
					justify-content: center;
				}

input {
	width: 300px;
	height: 40px;
	margin: 5px;
	border-radius: 10px;
	border-style: none;
}

::placeholder {
	text-align: center;
	font-weight: bold;
	color: black;
}

.input2 {
	position: relative;
	top: 40px;
	color: black;
	font-weight: bold;
	background-color: white;
}

#blockhome{
	display: flex;
	grid-column: 1/3;
	justify-content: center;
	justify-items: center;
	color: grey;
	
}

#container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#background {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #ACB9D0;
    clip-path: polygon(-80% 0, 100% 0, 100% 100%);
    z-index: -1;
}

#header {
    display: flex;
    grid-column: 1/7;
    height: 100px;
    background-color: #ECF3FF;
    box-shadow: 0 0 5px 2px grey;
    justify-content: space-between;
    z-index: 1;
}

#logo {
    color: #3501CA;
    margin-left: 30px;
}

#logo h1 {
    font-size: 50px;
    margin: 0px;
}

#logo h3 {
    font-size: 22px;
    margin: 0px;
}

#profile {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 100%;
    align-self: center;
    margin-right: 30px;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#content {
    display: flex;
    grid-column: 1/7;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: center;
}

#content h1, h3 {
    margin: 0px;
}

#event {
    margin-top: 30px;
    background-color: white;
    grid-column: 2/6;
    box-shadow: 0 0 5px 2px grey;
    padding: 0px 30px 30px 30px;
}

#event h4 {
    margin: 0px;
}

#event p {
    margin: 10px 0px 20px 0px;
}

#event h1 {
    margin-top: 10px;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

#buttons input {
    padding: 20px 40px 20px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #00b478;
    line-height: 0px;
}

#buttons input:hover {
    background-color: #00a065;
}

#claim {
    margin-top: 30px;
    background-color: white;
    grid-column: 2/6;
    box-shadow: 0 0 5px 2px grey;
    padding: 20px 30px 30px 30px;
    font-size: 24px;
}

#claim form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#claim form div {
    margin-bottom: 20px;
}

#claim form div input {
    width: 30px;
    height: 30px;
}

#claim form div label {
    position: relative;
    bottom: 5px;
}

#submitclaim {
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #00b478;
    line-height: 0px;
}

#submitclaim:hover {
    background-color: #00a065;
}

#uploadButton {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 20px;
}

#fileButton {
	position: absolute;
	width: 30%;
	height: 60px;
	background-color: #00b478;
	text-align: center;
	line-height: 55px;
	padding: 10px;
	border-radius: 10px;
	font-size: 24px;
}

#fileUpload {
	position: absolute;
	width: 30%;
	height: 60px;
	text-align: center;
	filter: opacity(0);
	cursor: pointer;
	z-index: 1;
	padding: 10px;
	border-radius: 10px;
}

#uploadSubmit {
	margin: 10px 0px 0px 0px;
	font-size: 24px;
	background-color: #00b478;
	cursor: pointer;
}

#uploadDescription {
	margin-top: 90px;
	width: 50%;
	height: 60px;
	resize: none;
}

#uploadDescription::placeholder {
	text-align: start;
	color: grey;
	font-weight: 100;
}